/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background-color: #FFFFFF;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.title {
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: #333333;
    position: absolute;
    left: 2%;
    top: 1.4%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

.main-content {
    display: flex;
    height: fit-content;
    margin-top: 10%;
    margin-left: 2.5%;
}

.scarecrow img {
    height: 100%;
    width: 60%;
    min-width: 350px;
}

.sub-content {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 20%;
}

.sub-title {
    font-weight: 700;
    font-size: 45px;
    color: #333333;
}

.sub-main-content {
    max-width: 25ch;
    line-height: 1.5rem;
    color: #4F4F4F;
    letter-spacing: -0.035em;
}

.main-content button {
    width: 50%;
    min-width: 200px;
    height: 10%;
    min-height: 40px;
    background: #333333;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.001em;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;

}


@media(max-width:850px) {
    .main-content {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sub-content {
        margin-left: 4%;
        margin-top: 4%;
    }

    .main-content button {
        /* margin-top: -5%; */
        max-width: 100px;
    }

    .sub-title {
        font-size: 32px;
    }
}