/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MY CSS */

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@500&display=swap');

body {
    height: 100vh;
}

.main-content {
    display: flex;
    margin: 4% 0 0 9%;
}

.title {
    font-family: 'PT Serif', serif;
    font-weight: 900;
    font-size: 50px;
    min-width: 30%;
}

.sub-content {
    margin-left: 20%;
    font-family: 'Poppins';
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.sub-title {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

.description {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    line-height: 27px;
    margin-top: 5%;
}


.images-content {
    display: flex;
    margin: 5% 0 0 9%;
    flex-wrap: wrap;
}

.each-image-content {
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    width: 20%;
    margin: 0 50px;
}

.each-image-content img {
    width: 100%;
}

.section1-each-image-content {
    text-transform: uppercase;
    display: flex;
    position: relative;

}

.section1-each-image-content span {
    font-family: 'PT Serif', serif;
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 5px;
}

.section2-each-image-content {
    margin-top: 8%;
    margin-bottom: 40%;
}

.section2-each-image-content span {
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 900;
    text-align: left;
}


.each-image-content:nth-child(2) {
    margin-top: 20%;
}

.each-image-content:nth-child(5) {
    margin-top: 20%;
}

@media(max-width:825px) {
    .main-content {
        flex-direction: column;
        gap: 40px;
    }

    .each-image-content:nth-child(2) {
        margin-top: 0%;
    }

    .each-image-content:nth-child(5) {
        margin-top: 0%;
    }

    .title {
        font-size: 32px;

    }

    .sub-content {
        margin-left: 1%;
    }

    .images-content {
        margin-left: 0%;
        margin-right: 10%;
        justify-content: space-around;
    }

    .section1-each-image-content span {
        font-size: 8px;
    }

    .section2-each-image-content span {
        font-size: 12px;
    }

    .each-image-content:nth-child(2n) {
        margin-top: 10%;
    }

    .each-image-content {
        width: 30%;
        margin-right: 10px;
    }
}